<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态组件与v-once指令</title>
    <script src="../common/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <component :is="type"></component> -->
        <child-one v-if="type==='child-one'"></child-one>
        <child-two v-if="type==='child-two'"></child-two>
        <button @click="handleClick">change</button>
    </div>
    <script>

        //v-once放到内存 不展示的元素不会进行销毁 有利于静态内容的展示效率
        
        Vue.component('child-one',{
                template:'<div v-once>child-one</div>'
        })
        Vue.component('child-two',{
                template:'<div v-once>child-two</div>'
        })
        var vm = new Vue({
            el:'#app',
            data:{
                type:'child-one'
            },
            methods:{
                handleClick:function(){
                    this.type = this.type === 'child-one' ? 'child-two' : 'child-one';
                }
            }
        })
    </script>
</body>
</html>